__pycache__/
.idea/
doingmath_code/.DS_Store
doingmath_code/chapter1/.DS_Store
doingmath_code/chapter2/.DS_Store
doingmath_code/chapter4/.DS_Store
doingmath_code/chapter5/.DS_Store
doingmath_code/chapter6/.DS_Store
doingmath_code/chapter7/.DS_Store
